body {
  padding: 0;
  margin: 0;
  background-color: slategray;
}

h1 {
  text-align: center;
  font-family: "Roboto Mono", monospace;
  font-style: italic;
}

.main {
  display: flex;
  justify-content: space-around;
}

.emojii {
  padding-right: 10px;
}

@media (max-width: 550px) {
  .main {
    display: flex;
    flex-direction: column;
  }
}
